mat-toolbar {
    background-color: seagreen;
    display: flex;
    padding: 20px 0px;

    justify-content: space-between;
}

mat-toolbar h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    position:absolute;
    left: 40%;
}

.search-container {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

#search {
    border-radius: 4px;
    height: 24px;
    width: 200px;
}

button.search {
    border-radius: 4px;
    height: 30px;
    width: 100px;
    margin-left: 10px;
}